.circle-photo {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.circle-photo img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}
.round-image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.round-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}
.image-input {
    display: flex;
    align-items: center;
}

.image-input input[type="file"] {
    display: none;
}

.image-input label {
    display: inline-block;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.image-input-preview {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.input-file {
	position: relative;
	display: inline-block;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-top-right-radius: 4px ;
	background-color: #419152;
	line-height: 22px;
	height: 40px;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
	margin: 0;
	transition: background-color 0.2s;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

.input-file input[type=file]:focus + span {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.input-file:hover span {
	background-color: #59be6e;
}
.input-file:active span {
	background-color: #2E703A;
}

.input-file input[type=file]:disabled + span {
	background-color: #eee;
}