<div class="flex flex-col gap-y-2 w-1/6 h-96 pt-5 pl-10  box-border">
    <a href="{% url 'my_profile' %}"><span class = " font-semibold text-l text-slate-100 hover:text-slate-300" >Моя страница</span></a>
    <a href="{% url 'news' %}"><span class = " font-semibold text-l text-slate-100 hover:text-slate-300" >Новости</span></a>
    <a href="{% url 'chats' %}"><span class = " font-semibold text-l text-slate-100 hover:text-slate-300" >Мессенджер</span></a>
    <a href="{% url 'find_friends' %}"><span class = " font-semibold text-l text-slate-100 hover:text-slate-300" >Друзья</span></a>
</div>