<header class="inset-x-0 top-0 z-0 bg-gray-800 fixed">
  <nav class="flex items-center justify-between mt-8 ml-8 mr-8 mb-3" aria-label="Global">
    <div class="flex gap-x-12 items-center">
      <img class="h-16 w-auto" src="https://cdn-icons-png.flaticon.com/512/5223/5223170.png" alt="">
      <a href="{% url 'main_page' %}" class="text-sm font-semibold leading-6 text-slate-50 hover:text-gray-600">На главную</a>
      <span class="text-sm font-semibold leading-6 text-blue-600 hover:text-blue-400">{{request.user.username}}</span>
    </div>
    
    <div class="flex flex-col gap-y-2 bg-white rounded w-48 h-16 justify-center pl-5" >
      {% load static %}
      {% if request.user.is_authenticated %}
          <div class="flex items-center gap-x-2">
            
            <a href="{% url 'logout_user' %}" class=" flex gap-x-2 text-sm font-semibold leading-6 text-gray-900 hover:text-gray-600">
              <img class="h-6 w-auto "src="{% static 'image/logout.png' %}" alt="">
              Выйти из аккаунта
            </a>
          </div>
      {% else %}
          <div class="flex items-center gap-x-2">
            <a href="{% url 'login_user' %}" class="flex gap-x-2 text-sm font-semibold leading-6 text-gray-900 hover:text-gray-600">
              <img class="h-6 w-auto" src="{% static 'image/login.png' %}" alt="">
              Войти в аккаунт
            </a>
          </div>
          <div class="flex items-center gap-x-2">
            <a href="{% url 'register' %}" class="flex gap-x-2 text-sm font-semibold leading-6 text-gray-900 hover:text-gray-600">
              <img class="h-6 w-auto" src="{% static 'image/register.png' %}" alt="">
              Регистрация
            </a>
          </div>
      {% endif %}
    </div>
    
  </nav>
</header>